# Python specific
*.py[co]
*.py~

# Documentation etc.
docs/.build
docs/api/generated
docs/api/tests
docs/abri.inv
docs/log

# adappt
adappt/build/doc
adappt/build/src
adappt/build/CMakeFiles/
adappt/build/*.o
adappt/build/*.dylib
adappt/build/configuration

# General
*.tmp
._*

# old code
abri_dp
bor

## IDE settings
*.ipynb

# Pydev
.pydevproject
.project
.settings

# PyCharm
.idea

#Mac specific
.DS_Store

#Cluster
core.*
docs/unittest_log.txt
iterate.dat

## python ignores from github
*.py[cod]

# C extensions
*.so
*.o
*.i
*.stdout

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
